$button---background: #dedede;
$button---border-width: 2px;
$button--primary---background: pink;
$button--primary---color: red;
$button--secondary---background: #00aaff;
$button--secondary---color: white;
$button--outline---background: transparent;
$button--outline---color: #00aaff;
